* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
}

/* #region utility */

.flex{
    display: flex;
    flex-wrap: wrap;
}



.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}

/* #endregion utility */


/* #region header */



/* #endregion header */


/* #region main */



/* #endregion main */


/* #region footer */



/* #endregion footer */


/* #region media */
@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
}

/* #endregion media */